<div class="workout-title" id="{{_id}}">test {{name}}</div>
{{#each exercises}}
<div class="exercise-container" id="{{_id}}">

<p class="exercise-name">{{name}}</p>
<p class="exercise-count">Repeat for {{count}} {{unit}}!</p>
<p class="exercise-notes">Notes: {{notes}}</p>
</div>
{{/each}}