<div class="workout-wrapper">

    {{#if workouts}}
    {{#each workouts}}

    <div class="workout-container" id="{{_id}}">
        <div class="workout-title" id="{{_id}}">{{name}}<button class="workout-delete" id="{{_id}}">Delete
                Workout</button>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <div class="exercise-entry exercise-container">
                <h3 style="text-align: center;">Add Exercise</h3>
                <form class="new-exercise" id="{{_id}}">
                    <div class="form-group d-flex justify-content-center">
                        <label for="exer-name"><strong>Exercise Name:</strong></label>
                        <br />
                        <input class="exer-name" type="text" name="exer-name" placeholder="push-ups, eat bananas">
                    </div>
                    <div class="form-group">
                        <label for="exer-count"><strong>Quantity</strong> and <strong>Units</strong></label>
                        <br />
                        <input type="number" name="exer-count" placeholder="number">
                        <input type="text" name="exer-count" placeholder="reps, minutes, bananas">
                    </div>
                    <div class="form-group">
                        <label for="exer-notes"><strong>Notes:</strong></label>
                        <br />
                        <textarea type="text" name="exer-notes" placeholder="new PR! 100 Bananas!"
                            class="exercise-notes" rows="5" cols="25"></textarea>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            {{> workout-block}}
        </div>
    </div>

    {{/each}}
    {{else}}
    <div class="work-empty-container">
        <h1>No Workouts Yet!</h1>
        <br>
        <h3>Create a workout to begin your Fitness Monkey Journey!</h2>
    </div>
    {{/if}}


</div>